.no-users-illustration {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16rem;
  position: relative;
  width: 100%;
}

.user-group {
  display: flex;
  align-items: flex-end;
}

.user {
  width: 3rem;
  height: 4.25rem;
  background-color: var(--outline-main-color);
  border-radius: 1.4rem 1.4rem 0 0;
  position: relative;
  margin: 0 0.35rem;
}

.user::after {
  content: '';
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  background-color: var(--outline-main-color);
  border-radius: 50%;
}

.question-mark {
  font-size: 3.4rem;
  color: #d4d4d4;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.floating-user {
  position: absolute;
  opacity: 0;
}
