.chat {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  & .draw-outline-wrapper {
    width: 100%;
  }

  & .space-background {
    & .blur {
      display: block;
    }
  }
}

.chat-content {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.chat-content.reduced {
  align-items: flex-start;

  & .chat__body {
    & .message-container {
      & .scroll-bottom {
        right: calc(5% + 28rem);
        transition: right 0.3s ease;
      }
    }
  }
}

.chat__body {
  width: 100%;
  height: calc(100% - 5.7rem - 5.7rem);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat__footer {
  border-top: 1px solid rgba(112, 112, 112, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 5.7rem;
  margin: 0 1rem;
}

@media (max-width: 1023px) {
  .chat {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden auto;

    & .chat__footer {
      width: calc(100% - 1rem - 1rem);
    }
  }
}
