.chat {
  position: relative;
  display: flex;
  align-items: center;
  /* background-color: var(--base-color); */
  width: 100%;
  height: 100vh;
  overflow: hidden;

  & .draw-outline-wrapper {
    width: 100%;
  }

  & .space-background {
    & .blur {
      display: block;
    }
  }
}

.chat-content {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.chat-content.reduced {
  align-items: flex-start;

  & .chat__body {
    & .message-container {
      & .scroll-bottom {
        right: calc(5% + 28rem);
        transition: right 0.3s ease;
      }
    }
  }
}

.chat__header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5.7rem;
  width: 100%;
  background-color: var(--base-color);

  & .main {
    display: flex;
    align-items: center;
    margin: 0 1.5rem;

    & .chat__avatar {
      height: 3.6rem;
      width: 3.6rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      & img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-radius: 50%;
      }

      & svg {
        stroke: var(--outline-main-color);
        width: 60%;
        height: 60%;
      }
    }

    & .chat__info {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;
      color: #fff;
      height: 3.6rem;

      & .chat__count {
        font-size: 0.9rem;
        color: var(--outline-main-color);
      }
    }
  }

  & .feedback {
    position: absolute;
    left: 50%;
    bottom: 1rem;
    transform: translateX(-50%);
    color: var(--col3);
    font-size: 1rem;

    & svg {
      width: 0.85rem;
      height: 0.85rem;
    }
  }

  & .buttons {
    margin: 0 1.5rem;
    display: flex;

    & button {
      margin-right: 0.8rem;

      &:last-child {
        margin-right: 0;
      }

      & abbr {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 100%;
        height: 100%;

        & svg {
          stroke: #fff;
          transition: stroke 0.3s ease;
        }
      }
    }
  }
}

.chat__body {
  width: 100%;
  height: calc(100% - 5.7rem - 5.7rem);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat__footer {
  border-top: 1px solid rgba(112, 112, 112, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 5.7rem;
  /* width: calc(100% - var(--margin-left) - var(--margin-right)); */
  margin: 0 1rem;
}

.search-messages {
  z-index: 3;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--base-color);
  height: 100vh;
  width: 28rem;
  overflow-y: hidden;

  & .search-messages__wrapper {
    height: 100%;

    & .search-input-wrapper {
      height: 45px;
    }
  }
}

@media (max-width: 1023px) {
  .chat {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden auto;

    & .chat__footer {
      width: calc(100% - 1rem - 1rem);
    }
  }
}
