.login-form {
  height: 100%;
  margin: 40px 0;

  & form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  & .input {
    & .input__label {
      background-color: var(--modal-color);
    }
  }

  & .custom-button:hover {
    background-color: var(--base-color);
  }

  & .buttons {
    & .button-wrapper:first-child {
      margin-bottom: 20px;
    }
  }
}

.input-wrapper {
  margin-bottom: 20px;

  & .draw-outline-rect-rect {
    transition: stroke 0.3s ease;
  }

  &:hover .draw-outline-rect-rect {
    stroke: var(--input-placeholder-color);
    transition: stroke 0.3s ease;
  }
}
