.search-illustration {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 14.25rem;
  position: relative;
}

.magnifier {
  width: 5.7rem;
  height: 5.7rem;
  position: relative;
}

.magnifier-handle {
  position: absolute;
  top: 65%;
  right: 30%;
  width: 0.7rem;
  height: 4rem;
  background-color: var(--outline-main-color);
  transform: rotate(-45deg);
  transform-origin: top left;
}

.magnifier-glass {
  width: 4.5rem;
  height: 4.5rem;
  border: 0.55rem solid var(--outline-main-color);
  border-radius: 50%;
}

.particle {
  width: 0.55rem;
  height: 0.55rem;
  background-color: var(--outline-main-color);
  border-radius: 50%;
  position: absolute;
}
