.chat-profile {
  height: calc(100vh - 5.7rem);
  overflow-y: auto;

  & .profile-settings__main {
    & .participants {
      padding: 0 0.7rem;
      margin: 0.7rem 0;

      & .subtitle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.3rem 0.7rem;
        height: 3.4rem;

        & p {
          color: #fff;
        }

        & button {
          & abbr {
            display: flex;
            align-items: center;
            justify-content: center;

            & svg {
              stroke: #fff;
            }
          }
        }
      }
    }
  }
}
