.chat {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--base-color);
  width: 100%;
  height: 100vh;
  overflow: hidden;

  & .chat-content {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  & .draw-outline-wrapper {
    width: 100%;
  }

  & .space-background {
    & .blur {
      display: block;
    }
  }
}

.chat__header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5.7rem;
  width: 100%;
  background-color: var(--base-color);

  & .main {
    display: flex;
    align-items: center;
    margin: 0 20px;

    & .chat__avatar {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      & img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-radius: 50%;
      }

      & svg {
        stroke: var(--outline-main-color);
        width: 60%;
        height: 60%;
      }
    }

    & .chat__info {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;
      color: #fff;
      height: 50px;

      & .chat__name {
        font-size: 14px;
      }

      & .chat__count {
        font-size: 12px;
        color: var(--outline-main-color);
      }
    }
  }

  & .feedback {
    position: absolute;
    left: 50%;
    bottom: 1rem;
    transform: translateX(-50%);
    color: var(--col3);
    font-size: 1rem;

    & svg {
      width: 12px;
      height: 12px;
    }
  }

  & .buttons {
    margin: 20px;
    display: flex;

    & button {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }

      & svg {
        stroke: #fff;
        transition: stroke 0.3s ease;
      }
    }
  }
}

.chat-separator__wrapper {
  width: 100%;
  z-index: 1;

  & .chat-separator {
    border-color: rgba(112, 112, 112, 0.3);
    margin: 0 150px;
  }
}

@media (max-width: 1023px) {
  .chat {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
