.chat {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--base-color);
  width: 100%;
  height: 100vh;

  & .chat-content {
    position: relative;
    z-index: 3;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  & .draw-outline-wrapper {
    width: 100%;
  }

  & .space-background {
    & .blur {
      display: block;
    }
  }
}

.chat__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  background-color: var(--base-color);

  & .main {
    display: flex;
    align-items: center;
    margin: 20px;

    & .chat__avatar {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      & img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-radius: 50%;
      }

      & svg {
        stroke: var(--outline-main-color);
        width: 60%;
        height: 60%;
      }
    }

    & .chat__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      color: #fff;

      & .chat__name {
        font-size: 16px;
      }

      & .chat__count {
        font-size: 14px;
        color: var(--outline-main-color);
      }
    }
  }

  & .buttons {
    margin: 20px;
  }
}

.chat-separator__wrapper {
  width: 100%;
  z-index: 1;

  & .chat-separator {
    border-color: rgba(112, 112, 112, 0.3);
    margin: 0 150px;
  }
}
