:root {
  --input-color: #999999;
  --input-placeholder-color: #707070;
}

.input {
  position: relative;

  & .input__label {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 1.1rem;
    margin: 1rem 0.35rem;
    white-space: nowrap;
    transform: translate(0, 0);
    transform-origin: 0 0;
    background-color: var(--base-color);
    transition: transform 120ms ease-in;
    line-height: 1.2;
    color: var(--input-color);
    font-size: 1rem;

    &:hover {
      cursor: text;
    }
  }

  & .input__field {
    display: block;
    outline: none;
    background: transparent;
    border: none;
    transition: border 0.2s ease;
    border-radius: 15px;
    padding: 0 1.1rem;
    width: 21.5rem;
    height: 3.2rem;
    color: var(--input-color);
    font-size: 1rem;

    &:focus,
    &:not(:placeholder-shown) {
      & + .input__label {
        transform: translate(0, -120%) scale(0.8);
        color: var(--col1);
      }
    }

    &.error {
      &:focus,
      &:not(:placeholder-shown) {
        & + .input__label {
          color: rgba(252, 125, 108, 1);
        }
      }
    }
  }

  & .input__error {
    display: block;
    position: absolute;
    right: 0.7rem;
    bottom: -1rem;
    color: rgba(252, 125, 108, 1);
    font-size: var(--small-font-size);
  }
}
