@property --col1 {
  syntax: '<color>';
  initial-value: #48dd93;
  /* #8ceabb; */
  inherits: false;
}

@property --col2 {
  syntax: '<color>';
  initial-value: #258770;
  /* #378f7b; */
  inherits: false;
}

.auth {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100dvh;
  background-color: var(--base-color);

  & .login-button {
    height: 3rem;
  }

  & .login-form {
    position: relative;

    & .error-message {
      position: absolute;
      bottom: -30px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgba(252, 125, 108, 1);
      width: 300px;
      font-size: var(--small-font-size);
      text-align: center;
    }
  }
}

@media (max-width: 1023px) {
  .auth {
    touch-action: pinch-zoom;

    & .modal__main {
      width: clamp(21.5rem, 80vw, 35.7rem);
      height: clamp(21.5rem, 60vh, 50rem);

      & .modal__content {
        & input {
          width: clamp(20rem, 50vw, 30rem);
        }

        & button {
          width: clamp(12.5rem, 30vw, 35rem);
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .auth {
    & .login-button {
      /* width: 70vw; */
      width: clamp(23rem, 80vw, 35.7rem);
      height: 3.5rem;
      font-size: var(--large-font-size);
    }

    /* & .modal__main {
      width: 90vw;
      height: 60vh;
    } */
  }
}
