.profile-settings {
  height: 100%;
  width: 100%;

  & .profile-settings__header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5.7rem;

    & .back {
      margin-left: 1.5rem;

      & abbr {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 100%;
        height: 100%;

        & svg {
          stroke: #fff;
          transition: stroke 0.3s ease;
        }
      }
    }

    & .settings-title {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 40px;
      padding-left: 0.7rem;

      & p {
        font-size: 1.3rem;
        font-weight: bold;
        color: #fff;
      }

      & .settings-title_buttons {
        display: flex;
        align-items: center;
        margin-right: 1.5rem;

        & .edit-button,
        .exit-button {
          &:first-child {
            margin-right: 0.8rem;
          }

          & abbr {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            width: 100%;
            height: 100%;

            & svg {
              stroke: #fff;
              transition: stroke 0.3s ease;
            }
          }
        }
      }
    }
  }
}

.profile-settings__main {
  margin-top: 10px;

  & .avatar {
    position: relative;
    display: flex;
    justify-content: center;
    height: 300px;
    margin: 0 10px;

    & img {
      object-fit: cover;
      max-height: 100%;
      max-width: 100%;

      &:hover {
        cursor: pointer;
      }
    }

    & svg {
      stroke: var(--outline-hover-color);
      height: 100%;
      width: 100%;
    }
  }

  & .credentials {
    margin-top: 1.4rem;
    padding: 0 0.7rem;

    & .name,
    .email {
      box-sizing: border-box;
      border-radius: 15px;
      display: flex;
      align-items: center;
      margin-bottom: 0.7rem;
      padding: 0.7rem;
      width: 100%;
      height: 4.65rem;

      & div {
        display: flex;
        flex-direction: column;
        justify-content: center;

        & p {
          color: #fff;
          margin: 2px 0;
        }

        & .subtitle {
          font-size: 0.85rem;
          color: var(--outline-main-color);
        }
      }

      & svg {
        display: flex;
        align-self: center;
        justify-content: center;
        stroke: #fff;
        margin: 0 0.7rem;
      }

      &:hover {
        cursor: pointer;
        background-color: rgba(153, 153, 153, 0.3);
      }
    }
  }
}

.logout-button {
  z-index: 3;
  position: fixed;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
  padding: 0 0.7rem;
  margin-right: 1.5rem;
  height: 2.85rem;
  width: 10.7rem;
  background-color: rgba(25, 25, 25, 0.9);
  transition: background-color 0.3s ease;

  & .logout-button__text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 70%;
    padding: 0 0.7rem;

    & p {
      color: #fff;
      transition: color 0.3s ease;
    }

    & svg {
      stroke: #fff;
      transition: stroke 0.3s ease;
      margin-right: 1.5rem;
    }
  }

  &:hover {
    cursor: pointer;
    background-color: rgba(25, 25, 25, 1);
    transition: background-color 0.3s ease;
  }
}

.all-avatars-wrapper {
  padding: 0 0 1rem 0;
}
