.message-container {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 100%;
  overflow: hidden auto;

  & .scroll-bottom {
    position: fixed;
    bottom: 15%;
    right: 5%;
    transition: right 0.3s ease;
  }
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  & .date-divider {
    z-index: 3;
    position: sticky;
    top: 1.3rem;
    text-align: center;
    width: 100%;
    margin: 1.3rem 0;
    font-size: 0.9rem;
    font-weight: bold;
    color: #fff;

    & time {
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 15px;
      padding: 0.55rem;
    }
  }

  & .messages-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.message-block,
.message_me-block {
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 0.1rem 0;
  height: fit-content;
  width: fit-content;
  min-width: 5rem;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.3s ease;

  &.highlighted {
    background-color: rgba(153, 153, 153, 0.3);
    transition: background-color 0.3s ease;
  }
}

.message,
.message_me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* padding: 0.5rem 0.7rem; */
  word-break: break-all;
  width: fit-content;
  min-width: 2.5rem;
  max-width: 30rem;
  min-height: 2.42rem;
  border-radius: 1rem;

  & .message-main {
    display: flex;
    flex-direction: column;

    & #attached-files {
      position: relative;
      display: flex;
      width: 100%;
      max-width: 20rem;
      height: auto;
      max-height: 30rem;

      & img {
        width: 100%;
        height: auto;
        max-height: 30rem;
        border-radius: 1rem 1rem 0 0;
        object-fit: cover;

        &:hover {
          cursor: pointer;
        }
      }
    }

    & #main-content {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      margin: 0.5rem 0.7rem;
    }
  }

  & .message-username {
    color: var(--col3);
    font-size: 0.9rem;
    font-weight: bold;
    margin: 0.5rem 0.7rem 0;
  }

  & .message-time {
    text-align: center;
    font-size: 0.7rem;
    margin-left: 5px;
    min-width: fit-content;
    color: rgba(0, 0, 0, 0.8);
  }
}

.message {
  margin-left: calc(2.42rem + 0.3rem);
  margin-right: auto;
  background-color: var(--outline-hover-color);
  color: var(--message-bg-color);

  &.last {
    border-radius: 1rem 1rem 1rem 0;

    & #attached-files {
      &:only-child {
        height: 100%;

        & img {
          border-radius: 1rem 1rem 1rem 0;
        }
      }
    }
  }

  & #attached-files {
    &:only-child {
      height: 100%;

      & img {
        border-radius: 1rem;
      }
    }

    & .overlay-time {
      position: absolute;
      bottom: 0.5rem;
      right: 0.5rem;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      padding: 0.2rem 0.5rem;
      border-radius: 0.5rem;
    }
  }
}

.message_me {
  margin-left: auto;
  background-color: var(--message-bg-color);
  color: var(--base-color);

  &.last {
    border-radius: 1rem 1rem 0 1rem;

    & #attached-files {
      &:only-child {
        height: 100%;

        & img {
          border-radius: 1rem 1rem 0 1rem;
        }
      }
    }
  }

  & #attached-files {
    &:only-child {
      height: 100%;

      & img {
        border-radius: 1rem;
      }
    }

    & .overlay-time {
      position: absolute;
      bottom: 0.5rem;
      right: 0.5rem;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      padding: 0.2rem 0.5rem;
      border-radius: 0.5rem;
    }
  }
}

.message-avatar {
  position: absolute;
  bottom: 0.1rem;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.42rem;
  min-width: 2.42rem;
  max-width: 2.42rem;
  border: 2px solid var(--outline-main-color);
  border-radius: 50%;
  margin-right: 0.3rem;
  font-size: 1.2rem;

  & img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
}

@media (max-width: 1023px) {
  .message-container {
    padding: 0 1rem;
  }
}
