& .message-list__header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;

  & .avatar {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    /* border: 2px solid var(--outline-main-color); */
    border-radius: 50%;
    font-size: 18px;

    & img {
      height: 100%;
      width: 100%;
      border-radius: 50%;
    }

    & svg {
      stroke: var(--outline-main-color);
      transition: stroke 0.3s ease;
    }

    & ~ .draw-outline-rect-svg > .draw-outline-rect-rect {
      transition: stroke 0.3s ease;
    }

    &:hover {
      cursor: pointer;

      & ~ .draw-outline-rect-svg > .draw-outline-rect-rect {
        stroke: #fff;
        transition: stroke 0.3s ease;
      }

      & svg {
        stroke: #fff;
        transition: stroke 0.3s ease;
      }
    }
  }
}

.search-input-wrapper {
  & .draw-outline-rect-rect {
    transition: stroke 0.3s ease;
  }

  & .search-input-container {
    position: relative;

    & .search-input {
      box-sizing: border-box;
      width: 320px;
      height: 45px;
      border: none;
      background-color: transparent;
      color: #fff;
      border-radius: 20px;
      outline: none;
      padding: 0 15px 0 45px;
      font-size: 14px;
    }

    & svg {
      position: absolute;
      top: 50%;
      left: 15px;
      transform: translateY(-50%);
      pointer-events: none;
      stroke: var(--outline-main-color);
      transition: stroke 0.3s ease;
    }
  }

  &:hover {
    .draw-outline-rect-rect,
    .search-input-container svg {
      stroke: #fff;
      transition: stroke 0.3s ease;
    }
  }
}

.search-input-wrapper:focus-within .draw-outline-rect-rect,
.search-input-wrapper:focus-within .search-input-container svg,
.search-input-wrapper
  .search-input:not(:placeholder-shown)
  ~ .draw-outline-rect-svg
  .draw-outline-rect-rect,
.search-input-wrapper .search-input:not(:placeholder-shown) ~ svg {
  stroke: #fff;
}

.avatar-wrapper {
  margin-right: 10px;
}
