.avatar {
  display: flex;
  justify-content: center;
  height: 14.3rem;

  & .empty-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid rgba(140, 234, 187, 0.2); */
    border: none;
    border-radius: 50%;
    height: 100%;
    width: 14.3rem;

    & svg {
      stroke: var(--outline-hover-color);
      height: 40%;
      width: 40%;
      transition:
        height 0.1s ease,
        width 0.1s ease;
    }

    &:hover {
      cursor: pointer;

      & svg {
        stroke: var(--outline-main-color);
        height: 45%;
        width: 45%;
        transition:
          height 0.1s ease,
          width 0.1s ease;
      }
    }
  }

  & .update-avatar {
    height: 100%;
    width: 14.3rem;
    position: relative;
    border-radius: 50%;

    & img {
      height: 100%;
      width: 14.3rem;
      border-radius: 50%;
      opacity: 0.7;
      object-fit: cover;
    }

    & svg {
      z-index: 1;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      stroke: rgba(255, 255, 255, 0.5);
      height: 40%;
      width: 40%;
      transition:
        height 0.1s ease,
        width 0.1s ease;
    }

    &:hover {
      cursor: pointer;

      & svg {
        height: 45%;
        width: 45%;
        transition:
          height 0.1s ease,
          width 0.1s ease;
      }
    }
  }

  & .preview-avatar {
    height: 100%;
    width: 14.3rem;

    & .preview-avatar__avatar {
      height: 100%;
      width: 100%;
    }

    & img {
      height: 100%;
      width: 100%;
      border-radius: 50%;
      object-fit: cover;
    }

    & .avatar-buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 2.85rem;

      & button {
        z-index: 1;

        & abbr {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      & .cancel svg {
        stroke: rgba(252, 125, 108, 1);
      }

      & .save svg {
        stroke: rgba(72, 221, 147, 1);
      }
    }
  }
}
