.download-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--outline-main-color);
  border: none;
  border-radius: 50%;
  height: 2.85rem;
  width: 2.85rem;
  background-color: transparent;
  transition: background-color 0.3s ease;

  &:hover {
    cursor: pointer;
    background-color: var(--base-color);
    transition: background-color 0.3s ease;
  }

  & abbr {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
