@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

:root {
  --small-font-size: 0.8rem;
  --default-font-size: 1rem;
  --large-font-size: 1.2rem;

  --base-color: #212121; /* rgba(33, 33, 33, 1); */
  --col1: #48dd93; /* rgba(72, 221, 147, 1); */
  --col2: #258770; /* rgba(37, 135, 112, 1); */
  --col3: #2dafe5;
  --error-color: #fc7d6c; /* rgba(252, 125, 108, 1) */
  --outline-main-color: #999999; /* rgba(153, 153, 153, 1); */
  --outline-hover-color: #707070; /* rgba(112, 112, 112, 1); */
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa';
}

html {
  font-size: 14px;

  & body {
    background-color: var(--base-color);
  }
}
