@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import '@shared/styles/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa' !important;

  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--outline-main-color) var(--base-color);

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--base-color);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--outline-main-color);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--outline-hover-color);
  }

  &::-webkit-scrollbar-corner {
    background-color: var(--message-bg-color);
  }
}

html {
  font-size: 14px;

  & body {
    background-color: var(--base-color);
  }
}
