.custom-button {
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    /* background-image: linear-gradient(160deg, var(--col1) 0%, var(--col2) 100%); */
    background-color: transparent;
    transition: background-color 0.3s ease;
    /* transition: --col1 0.7s ease, --col2 0.7s ease; */
    color: #fff;
    width: 200px;
    height: 40px;
    font-size: 14px;

    &:hover {
        cursor: pointer;
        background-color: var(--modal-color);
        transition: background-color 0.3s ease;
        --col1: #378f7b;
        --col2: #8ceabb;
    }
}