.sidebar {
  perspective: 1000px;
  transform-style: preserve-3d;
  background-color: var(--base-color);
  min-width: 400px;
  height: 100vh;
  z-index: 1;
  opacity: 1;

  &:hover {
    opacity: 1;
  }
}
