.message-form {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 100%;

  & .message-input-wrapper {
    width: 100%;
    min-width: 21.5rem;
    max-width: 80rem;
    margin-right: 0.8rem;
    display: flex;
    align-items: center;
  }

  & .message-input {
    position: relative;
    box-sizing: border-box;
    flex-grow: 1;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 15px;
    outline: none;
    padding: 0 0.8rem;
    background-color: var(--base-color);
    color: #fff;
  }

  & .emoji-input-container {
    margin-left: 0.5rem;

    & .emoji-picker-container {
      left: -0.5rem;
    }
  }
}

.send-button-wrapper {
  border-radius: 50%;

  & .draw-outline-rect-rect {
    stroke: var(--outline-main-color);
    transition: stroke 0.3s ease;
  }

  &:hover .draw-outline-rect-rect {
    stroke: #fff;
    transition: stroke 0.3s ease;
  }
}

.send-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: var(--base-color);
  transition: background-color 0.3s ease;

  & abbr {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    & svg {
      stroke: var(--outline-main-color);
      transition: stroke 0.3s ease;
      width: 50%;
      height: 50%;
    }
  }

  &:hover {
    cursor: pointer;
    transition: background-color 0.3s ease;

    & svg {
      stroke: #fff;
      transition: stroke 0.3s ease;
    }
  }
}
