:root {
  --small-font-size: 0.8rem;
  --default-font-size: 1rem;
  --large-font-size: 1.2rem;

  --base-color: #212121; /* rgba(33, 33, 33, 1); */
  --col1: #48dd93; /* rgba(72, 221, 147, 1); */
  --col2: #258770; /* rgba(37, 135, 112, 1); */
  --col3: #2dafe5;
  --error-color: #fc7d6c; /* rgba(252, 125, 108, 1) */
  --danger-color: rgba(166, 26, 8, 1);
  --danger-color-light: rgb(230, 44, 20);
  --outline-main-color: #999999; /* rgba(153, 153, 153, 1); */
  --outline-hover-color: #707070; /* rgba(112, 112, 112, 1); */

  --modal-color: #191919; /* rgba(25, 25, 25, 1); */

  --message-bg-color: #e5e6ea;

  --input-color: #999999;
  --input-placeholder-color: #707070;
}
