#create-chat {
  height: 100%;
  overflow: hidden;

  & header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 8rem;
    width: 100%;

    & .title {
      display: flex;
      align-items: center;
      margin: 1rem 1.5rem 0 1.5rem;

      & button abbr {
        display: flex;
        align-items: center;
        justify-content: center;

        & svg {
          stroke: #fff;
        }
      }

      & h2 {
        color: #fff;
        font-size: 1.3rem;
        margin-left: 0.7rem;
      }
    }

    & .search-input-container {
      width: 100%;
      height: 3.2rem;
    }

    & .selected-users {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      padding: 0 1.5rem;

      & .selected-user {
        position: relative;
        background-color: rgba(153, 153, 153, 0.3);
        color: #fff;
        height: 2.3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 1rem;
        margin: 0.3rem;

        & .avatar {
          position: absolute;
          left: 0;
          top: 50%;
          transform: translate(-5%, -50%);
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: var(--col3);
          height: 2.7rem;
          width: 2.7rem;
          border-radius: 50%;

          & img {
            height: 100%;
            width: 100%;
            border-radius: 50%;
            object-fit: cover;
          }
        }

        & .user-name {
          margin: 0 0.5rem 0 2.9rem;
        }

        &:hover {
          cursor: pointer;

          background-color: rgba(166, 26, 8, 0.5);

          & .avatar {
            background-color: rgba(166, 26, 8, 1);
          }
        }
      }
    }
  }

  & main {
    width: 100%;
    height: calc(100% - 8rem);

    & .create-chat-button abbr svg {
      stroke: var(--base-color);
      transform: rotate(-180deg);
    }
  }
}
