.full-screen-slider {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 99;
}

.slider-header {
  width: 100%;
  height: 4.3rem;
  display: flex;
  align-items: center;
  padding: 2.7rem 0;

  & .profile-info__header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding: 0 1.4rem;

    & .header__info {
      display: flex;
      align-items: center;
      width: fit-content;

      & .header__avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--outline-main-color);
        border-radius: 50%;
        width: 3.55rem;
        height: 3.55rem;

        & img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      & .header__name {
        margin-left: 0.7rem;
        font-size: 1.2rem;
        font-weight: 800;
        color: var(--outline-main-color);
      }
    }
  }
}

.slider-header__buttons {
  display: flex;
  align-items: center;
  height: 100%;
  padding-right: 1.4rem;
}

.full-screen-slider {
  & .close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--outline-main-color);
    border: none;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 0.3s ease;
    height: 2.85rem;
    width: 2.85rem;

    &:hover {
      cursor: pointer;
      background-color: var(--base-color);
      transition: background-color 0.3s ease;
    }

    & abbr {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  & .download-button {
    margin: 0 0.8rem;
  }
}

.full-screen-slider .slider-content {
  position: relative;
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & .slider-info {
    z-index: 999;
    position: absolute;
    bottom: 0;
    transform: translateY(130%);
    height: 2.85rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & p {
      padding: 2px 20px;
      color: var(--outline-main-color);
    }
  }
}

.full-screen-slider img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.full-screen-slider .prev,
.full-screen-slider .next {
  z-index: 999;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;

  & svg {
    opacity: 0.5;
    transition: opacity 0.3s ease;
    stroke: var(--outline-main-color);
  }

  &:hover {
    & svg {
      opacity: 1;
      transition: opacity 0.3s ease;
    }
  }
}

.full-screen-slider .prev {
  left: 20px;
}

.full-screen-slider .next {
  right: 20px;
  transform: translateY(-50%) rotate(180deg);
}
